@{
    if(@ViewBag.Status == "Admin")
    {
        @Html.Partial("AdminPartial");
    }
    else
    {
        @Html.Partial("UserPartial");
    }
}
@{
    foreach (var item in @ViewBag.Orders)
    {
        <h1>@item.product.Title</h1>  
        <p>@item.Buyer.FirstName</p>      
    }
}
